aiodns==2.0.0
aiohttp==3.7.4.post0
altgraph==0.17
aniso8601==8.0.0
APScheduler==3.6.3
asn1crypto==1.4.0
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.2.0
auto-py-to-exe==2.7.8
backports.entry-points-selectable==1.1.0
base58==2.0.1
beautifulsoup4==4.9.3
bitarray==1.2.2
bleach==4.1.0
bottle==0.12.18
bottle-websocket==0.2.9
bravado==10.4.1
bravado-core==5.17.0
Bybit==0.2.12
bybit-trading-wrapper==0.0.1
bybitWrapper==0.0.2
cachetools==4.2.2
ccxt==1.42.51
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cheroot==8.4.5
click==7.1.2
coincurve==15.0.0
colorama==0.4.4
colorful==0.5.4
cryptography==3.2.1
cytoolz==0.11.0
dateparser==1.0.0
dhooks==1.1.4
discord-webhook==0.11.0
Discord-Webhooks==1.0.4
distlib==0.3.2
dnspython==2.0.0
docutils==0.17.1
dydx-v3-python==1.0.15
ecdsa==0.16.0
Eel==0.12.4
eth-abi==2.1.1
eth-account==0.5.5
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.0
eth-typing==2.2.2
eth-utils==1.9.5
fake-useragent==0.1.11
filelock==3.0.12
Flask==1.1.2
Flask-Caching==1.10.1
Flask-Cors==3.0.10
Flask-Limiter==1.4
Flask-RESTful==0.3.8
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==0.4.17
hexbytes==0.2.1
idna==2.8
importlib-metadata==4.7.1
ipfshttpclient==0.7.0
irc==19.0.1
itsdangerous==1.1.0
jaraco.classes==3.2.1
jaraco.collections==3.2.0
jaraco.functools==3.0.1
jaraco.logging==3.1.0
jaraco.stream==3.0.2
jaraco.text==3.5.0
Jinja2==2.11.2
jsonpointer==2.1
jsonref==0.2
jsonschema==3.2.0
keyboard==0.13.5
keyring==23.1.0
libsecp256k1==0.1
limits==1.5.1
livestreamer==1.12.2
lru-dict==1.1.6
MarkupSafe==1.1.1
monotonic==1.6
more-itertools==8.6.0
MouseInfo==0.1.3
mpmath==1.0.0
msgpack==1.0.2
msgpack-python==0.5.6
mss==6.1.0
multiaddr==0.0.9
multidict==5.0.0
netaddr==0.8.0
notifiers==1.2.1
numpy==1.19.4
opencv-python==4.5.1.48
packaging==21.0
parsimonious==0.8.1
pathlib==1.0.1
pefile==2019.4.18
Pillow==8.1.0
pkginfo==1.7.1
platformdirs==2.2.0
pluggy==0.13.1
prettyprinter==0.18.0
protobuf==3.13.0
psutil==5.7.3
py==1.10.0
PyAutoGUI==0.9.52
pycares==3.1.1
pycoingecko==1.4.0
pycparser==2.20
pycryptodome==3.9.8
PyGetWindow==0.0.9
Pygments==2.7.1
pyinstaller @ https://github.com/pyinstaller/pyinstaller/archive/develop.zip
pyinstaller-hooks-contrib==2020.8
pymongo==3.11.0
PyMsgBox==1.0.9
pynput==1.7.1
pyparsing==2.4.7
pyperclip==1.8.1
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.26
pyTelegramBotAPI==3.8.2
pytesseract==0.3.7
pytest==4.6.11
python-dateutil==2.8.2
python-pushover==0.4
python-telegram-bot==13.7
PyTweening==1.0.3
pytz==2020.1
pywin32==228
pywin32-ctypes==0.2.0
PyYAML==5.4.1
readme-renderer==29.0
regex==2021.8.3
requests==2.22.0
requests-mock==1.6.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rfc3987==1.3.8
rlp==2.0.0a1
rusty-rlp==0.1.15
secure==0.2.1
selenium==3.141.0
selenium-wire==1.1.2
simplejson==3.17.5
six==1.15.0
solidity-flattener==0.2.2
soupsieve==2.2.1
strict-rfc3339==0.7
swagger-spec-validator==2.7.3
sympy==1.6
tabulate==0.8.7
telebot==0.0.4
tempora==4.0.1
toml==0.10.2
toolz==0.11.0
tornado==6.1
tox==3.13.2
tqdm==4.62.2
twine==3.4.2
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.1
unicorn-binance-websocket-api==1.32.0
unicorn-fy==0.6.0
uniswap-python @ git+https://github.com/CryptoGnome/uniswap-python@14b30d6c06ebb9e73d0c202af6d3f41a3f3c3b10
urllib3==1.24.2
user-agent==0.1.9
varint==1.0.2
virtualenv==20.7.2
waitress==1.4.4
wcwidth==0.2.5
web3==5.23.0
webcolors==1.11.1
webencodings==0.5.1
websocket-client==0.57.0
websockets==9.1
Werkzeug==1.0.1
wget==3.2
whichcraft==0.6.1
yarl==1.1.0
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.1.0
